.container {
  margin: 0 auto;
  padding-top: 60px;
}
.inner-container {
  max-width: 800px;
  margin: 0 auto;
}

.card.main {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  max-width: 800px;
  margin: 0 auto;
  border: none;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
